*{
  margin: none;
  padding: none;
  border: none;
}

.glizzy-app {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 40px;
}


